<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Groups</title>
    <% include head %>
  </head>

  <body>
  <% include navbar %>




    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>


    <% include scripts %>
  </body>
</html>
