<!DOCTYPE html>
<html>
  <head>
    <title>Login Asistent</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    Login with facebook:
    <a href="/admin/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

  </body>

</html>
